{% load static %}

<footer id="contacts">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="footer-widget">
          <h4>Контакти</h4>
          <p>София, България</p>
          <p><a href="https://www.facebook.com/mysitebg1">Facebook</a></p>
          <p><a href="mailto:info@mysitebg.com">info@mysitebg.com</a></p>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="footer-widget">
          <h4>Нашите услуги</h4>
          <ul>
            <li><a href="#">Изработка на уеб сайтове</a></li>
            <li><a href="#">Изработка на онлайн магазини</a></li>
            <li><a href="#">Уеб дизайн на сайтове</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="footer-widget">
          <h4>Бързи връзки</h4>
          <ul>
            <li><a href="#">Казуси</a></li>
            <li><a href="#">Уеб програмиране</a></li>
            <li><a href="#">Поверителност</a></li>
            <li><a href="{% url 'contacts' %}">Контакти</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="footer-widget">
          <h4>Нашата мисия</h4>
          <p>
            Нашата мисия е да създаваме уеб решения, които правят успеха леснодостъпен, като стойността им се измерва с тяхната полезност за потребителя.</p>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="copyright-text">
          <p>Copyright © 2025 Всички права запазени.</p>
        </div>
      </div>
    </div>
  </div>
</footer>