{% load static %}

<!-- Spinner Start -->
<div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Зареждане...</span>
    </div>
</div>
<!-- Spinner End -->

<!-- Topbar Start -->
<div class="container-fluid topbar bg-light px-5 d-none d-lg-block">
    <div class="row gx-0 align-items-center">
        <div class="col-lg-8 text-center text-lg-start mb-2 mb-lg-0">
            <div class="d-flex flex-wrap">
                <a href="#" class="text-muted small me-4"><i class="fas fa-map-marker-alt text-primary me-2"></i>
                    София, България
                </a>
                <a href="mailto:info@mysitebg.com" class="text-muted small me-0">
                    <i class="fas fa-envelope text-primary me-2"></i>info mysitebg.com
                </a>
            </div>
        </div>
        <div class="col-lg-4 text-center text-lg-end">
            <div class="d-inline-flex align-items-center" style="height: 45px;">
                <a class="btn btn-primary btn-sm-square rounded-circle me-3" href="https://www.facebook.com/mysitebg1"><i class="fab fa-facebook-f text-white"></i></a>
                <a class="btn btn-primary btn-sm-square rounded-circle me-0" href="https://www.linkedin.com/company/mysite-bg"><i class="fab fa-linkedin-in text-white"></i></a>
            </div>
        </div>
    </div>
</div>
<!-- Topbar End -->

<!-- Navbar & Hero Start -->
<div class="container-fluid position-relative p-0">
    <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
        <a href="{% url 'home' %}" class="navbar-brand p-0">
            <h1 class="text-primary">
                <img src="{% static 'img/logo.svg' %}" alt="Logo">
            </h1>
            
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="fa fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto py-0">
                <a href="{% url 'home' %}" class="nav-item nav-link active">Начало</a>
                <a href="#services" class="nav-item nav-link">Услуги</a>
                <a href="#goals" class="nav-item nav-link">Цели</a>
                <a href="#offer" class="nav-item nav-link">Предложение</a>
                <a href="#projects" class="nav-item nav-link">Проекти</a>
                <a href="{% url 'contacts' %}" class="nav-item nav-link">Контакт</a>
            </div>
            <a href="{% url 'contacts' %}" class="btn btn-primary rounded-pill py-2 px-4 my-3 my-lg-0 flex-shrink-0">Да започваме</a>
        </div>
    </nav>

    <!-- Carousel Start -->
    <div class="header-carousel owl-carousel">
        <div class="header-carousel-item">
            <img src="{% static 'img/carousel-1.jpg' %}" class="img-fluid w-100" alt="Вашият партньор в света на уеб услугите">
            <div class="carousel-caption">
                <div class="container">
                    <div class="row gy-0 gx-5">
                        <div class="col-lg-0 col-xl-5"></div>
                        <div class="col-xl-7 animated fadeInLeft">
                            <div class="text-sm-center text-md-end">
                                <h4 class="text-primary text-uppercase fw-bold mb-4">Вашият партньор в света на уеб услугите</h4>
                                <h1 class="display-4 text-uppercase text-white mb-4">Уеб решения за всеки</h1>
                                <p class="mb-5 fs-5">
                                    Изграждаме модерни уебсайтове и приложения, съобразени с вашите цели. 
                                </p>
                                <div class="d-flex justify-content-center justify-content-md-end flex-shrink-0 mb-4">
                                    <a class="btn btn-light rounded-pill py-3 px-4 px-md-5 me-2" href="#goals"><i class="fas fa-play-circle me-2"></i> Вдъхновени</a>
                                    <a class="btn btn-primary rounded-pill py-3 px-4 px-md-5 ms-2" href="#services">Вижте нашите услуги</a>
                                </div>
                                <div class="d-flex align-items-center justify-content-center justify-content-md-end">
                                    <h2 class="text-white me-2">Последвайте ни:</h2>
                                    <div class="d-flex justify-content-end ms-2">
                                        <a class="btn btn-md-square btn-light rounded-circle me-2" href="https://www.facebook.com/mysitebg1"><i class="fab fa-facebook-f"></i></a>
                                        <a class="btn btn-md-square btn-light rounded-circle ms-2" href="https://www.linkedin.com/company/mysite-bg"><i class="fab fa-linkedin-in"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-carousel-item">
            <img src="{% static 'img/carousel-2.jpg' %}" class="img-fluid w-100" alt="Image">
            <div class="carousel-caption">
                <div class="container">
                    <div class="row g-5">
                        <div class="col-12 animated fadeInUp">
                            <div class="text-center">
                                <h4 class="text-primary text-uppercase fw-bold mb-4">Работим с отговорност към клиента и средата, в която живеем</h4>
                                <h1 class="display-4 text-uppercase text-white mb-4">Технологии, които свързват, вдъхновяват и помагат</h1>
                                <p class="mb-5 fs-5">Качествени уеб услуги, устойчиви резултати и ангажираност към клиента.</p>
                                <div class="d-flex justify-content-center flex-shrink-0 mb-4">
                                    <a class="btn btn-light rounded-pill py-3 px-4 px-md-5 me-2" href="#goals"><i class="fas fa-play-circle me-2"></i> Вдъхновени</a>
                                    <a class="btn btn-primary rounded-pill py-3 px-4 px-md-5 ms-2" href="#services">Вижте повече</a>
                                </div>
                                <div class="d-flex align-items-center justify-content-center">
                                    <h2 class="text-white me-2">Последвайте ни:</h2>
                                    <div class="d-flex justify-content-end ms-2">
                                        <a class="btn btn-md-square btn-light rounded-circle me-2" href="https://www.facebook.com/mysitebg1"><i class="fab fa-facebook-f"></i></a>
                                        <a class="btn btn-md-square btn-light rounded-circle ms-2" href="https://www.linkedin.com/company/mysite-bg"><i class="fab fa-linkedin-in"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Carousel End -->
</div>
<!-- Navbar & Hero End -->
  