{% extends "layouts/a.html" %}
{% load static %}

{% block content %}

<!-- Услуги Start -->
<div class="container-fluid service py-5" id="services">
    <div class="container pb-5">
        <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
            <h4 class="text-primary">Нашите услуги</h4>
            <h1 class="display-5 mb-4">Ние предлагаме най-добрите услуги</h1>
            <p class="mb-0">
                Ние предлагаме висококачествени уеб услуги, насочени към удовлетворяване на вашите нужди и цели. 
            </p>
        </div>
        <div class="row g-4">
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.2s">
                <div class="service-item">
                    <div class="service-img">
                        <img src="{% static 'img/service-3.jpg' %}" class="img-fluid rounded-top w-100" alt="Image">
                    </div>
                    <div class="rounded-bottom p-4">
                        <a href="#" class="h4 d-inline-block mb-4">Изработка на уебсайтове и приложения</a>
                        <p class="mb-4">
                            Ние предлагаме уеб разработка, за да ви помогнем да създадете уебсайтове, които да бъдат привлекателни и ефективни. 
                        </p>
                        <a class="btn btn-primary rounded-pill py-2 px-4" href="{% url 'contacts' %}">Научете повече</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.2s">
                <div class="service-item">
                    <div class="service-img">
                        <img src="{% static 'img/service-4.jpg' %}" class="img-fluid rounded-top w-100" alt="Image">
                    </div>
                    <div class="rounded-bottom p-4">
                        <a href="#" class="h4 d-inline-block mb-4">Поддръжка и оптимизация</a>
                        <p class="mb-4">
                            Ние предлагаме поддръжка и оптимизация, за да ви помогнем да поддържате вашите уебсайтове и приложения. 
                        </p>
                        <a class="btn btn-primary rounded-pill py-2 px-4" href="{% url 'contacts' %}">Научете повече</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.6s">
                <div class="service-item">
                    <div class="service-img">
                        <img src="{% static 'img/service-6.jpg' %}" class="img-fluid rounded-top w-100" alt="Image">
                    </div>
                    <div class="rounded-bottom p-4">
                        <a href="#" class="h4 d-inline-block mb-4">Индивидуални проекти</a>
                        <p class="mb-4">
                            Ние предлагаме индивидуални проекти, за да ви помогнем да създадете уебсайтове, които да бъдат привлекателни и ефективни. 
                        </p>
                        <a class="btn btn-primary rounded-pill py-2 px-4" href="{% url 'contacts' %}">Научете повече</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Услуги End -->

<!-- Цели Start -->
<div class="container-fluid feature pb-5" id="goals">
    <div class="container pb-5">
        <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
            <h4 class="text-primary">Нашите цели</h4>
            <h1 class="display-5 mb-4">Уеб технологии като сила за добро</h1>
            <p class="mb-0">Вярваме, че технологиите могат да бъдат не просто инструмент, а сила за добро. 
                Нашата мисия е да свързваме бизнеси, идеи и хора чрез иновативни уеб решения, които не само помагат на организациите да растат, но и допринасят за една по-смислена и отговорна дигитална среда.
            </p>
        </div>
        <div class="row g-4 pb-5">
            <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.2s">
                <div class="feature-item p-4">
                    <div class="feature-icon p-4 mb-4">
                        <i class="fas fa-chart-line fa-4x text-primary"></i>
                    </div>
                    <h4>Свързване на хора и идеи</h4>
                    <p class="mb-4">Насърчаваме сътрудничеството между бизнеси, креативни умове и организации с обща визия за положителна промяна.
                    </p>
                    <a class="btn btn-primary rounded-pill py-2 px-4" href="{% url 'contacts' %}">Предложете идея</a>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.4s">
                <div class="feature-item p-4">
                    <div class="feature-icon p-4 mb-4">
                        <i class="fas fa-university fa-4x text-primary"></i>
                    </div>
                    <h4>Уеб решения с мисия</h4>
                    <p class="mb-4">Създаваме модерни дигитални продукти, които не само работят ефективно, но и подкрепят важни каузи.
                    </p>
                    <a class="btn btn-primary rounded-pill py-2 px-4" href="{% url 'contacts' %}">Предложете кауза</a>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.6s">
                <div class="feature-item p-4">
                    <div class="feature-icon p-4 mb-4">
                        <i class="fas fa-file-alt fa-4x text-primary"></i>
                    </div>
                    <h4>Технологии в полза на обществото</h4>
                    <p class="mb-4">Вярваме, че интернет пространството може да бъде двигател за социална отговорност и благотворителност.
                    </p>
                    <a class="btn btn-primary rounded-pill py-2 px-4" href="{% url 'contacts' %}">Предложете инициатива</a>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.8s">
                <div class="feature-item p-4">
                    <div class="feature-icon p-4 mb-4">
                        <i class="fas fa-hand-holding-usd fa-4x text-primary"></i>
                    </div>
                    <h4>Дигитална стойност с човешко лице</h4>
                    <p class="mb-4">
                        Всеки проект е възможност за изграждане на доверие, ангажираност и дългосрочно въздействие.
                    </p>
                    <a class="btn btn-primary rounded-pill py-2 px-4" href="{% url 'contacts' %}">Предложете проект</a>
                </div>
            </div>
        </div>

        <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
            <p class="mb-0">
                Подкрепяме каузи, които правят реална промяна — от социални инициативи до грижа за животните. 
                Всеки проект, всяка уеб страница, всяка услуга, която предлагаме, може да бъде част от по-голяма цел: изграждане на стойност, вдъхновение и въздействие.                    </p>
        </div>
    </div>
</div>
<!-- Цели End -->


<!-- Нашите предимства Start -->
<div class="container-fluid offer-section pb-5" id="offer">
    <div class="container pb-5">
        <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
            <h4 class="text-primary">Нашите предимства</h4>
            <h1 class="display-5 mb-4">Работим с кауза, изграждаме с грижа</h1>
            <p class="mb-0">Създаваме уеб решения с характер, стойност и сърце.</p>
        </div>
        <div class="row g-5 align-items-center">
            <div class="col-xl-5 wow fadeInLeft" data-wow-delay="0.2s">
                <div class="nav nav-pills bg-light rounded p-5">
                    <a class="accordion-link p-4 active mb-4" data-bs-toggle="pill" href="#collapseOne">
                        <h5 class="mb-0">Индивидуален подход</h5>
                    </a>
                    <a class="accordion-link p-4 mb-4" data-bs-toggle="pill" href="#collapseTwo">
                        <h5 class="mb-0">Фокус върху каузи</h5>
                    </a>
                    <a class="accordion-link p-4 mb-4" data-bs-toggle="pill" href="#collapseThree">
                        <h5 class="mb-0">Партньорство, не просто услуга</h5>
                    </a>
                    <a class="accordion-link p-4 mb-0" data-bs-toggle="pill" href="#collapseFour">
                        <h5 class="mb-0">Креативност с цел</h5>
                    </a>
                </div>
            </div>
            <div class="col-xl-7 wow fadeInRight" data-wow-delay="0.4s">
                <div class="tab-content">
                    <div id="collapseOne" class="tab-pane fade show p-0 active">
                        <div class="row g-4">
                            <div class="col-md-7">
                                <img src="{% static 'img/offer-1.jpg' %}" class="img-fluid w-100 rounded" alt="">
                            </div>
                            <div class="col-md-5">
                                <h1 class="display-5 mb-4">Без шаблони</h1>
                                <p class="mb-4">Всяко решение е съобразено с вашите цели, бранд и аудитория. Без шаблони – само реална стойност.
                                </p>
                                <a class="btn btn-primary rounded-pill py-2 px-4" href="{% url 'contacts' %}">Започнете сега</a>
                            </div>
                        </div>
                    </div>
                    <div id="collapseTwo" class="tab-pane fade show p-0">
                        <div class="row g-4">
                            <div class="col-md-7">
                                <img src="{% static 'img/offer-2.jpg' %}" class="img-fluid w-100 rounded" alt="">
                            </div>
                            <div class="col-md-5">
                                <h1 class="display-5 mb-4">Доброто е част от процеса</h1>
                                <p class="mb-4">Част от печалбата ни отива за подкрепа на благотворителни инициативи. Доброто е част от процеса.
                                </p>
                                <a class="btn btn-primary rounded-pill py-2 px-4" href="{% url 'contacts' %}">Научете повече</a>
                            </div>
                        </div>
                    </div>
                    <div id="collapseThree" class="tab-pane fade show p-0">
                        <div class="row g-4">
                            <div class="col-md-7">
                                <img src="{% static 'img/offer-3.jpg' %}" class="img-fluid w-100 rounded" alt="">
                            </div>
                            <div class="col-md-5">
                                <h1 class="display-5 mb-4">Убеждаваме и вдъхновяваме.</h1>
                                <p class="mb-4">Изграждаме дългосрочни отношения с нашите клиенти чрез доверие, прозрачност и резултати.
                                </p>
                                <a class="btn btn-primary rounded-pill py-2 px-4" href="{% url 'contacts' %}">Свържете се с нас</a>
                            </div>
                        </div>
                    </div>
                    <div id="collapseFour" class="tab-pane fade show p-0">
                        <div class="row g-4">
                            <div class="col-md-7">
                                <img src="{% static 'img/offer-4.jpg' %}" class="img-fluid w-100 rounded" alt="">
                            </div>
                            <div class="col-md-5">
                                <h1 class="display-5 mb-4">Решения с човешко лице</h1>
                                <p class="mb-4">Съчетавайки дизайн и функционалност, създаваме решения, които не само изглеждат добре, но носят ясно послание.

                                </p>
                                <a class="btn btn-primary rounded-pill py-2 px-4" href="{% url 'contacts' %}">Научете повече</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Нашите предимства End -->

<!-- Активни проекти Start -->
<div class="container-fluid team pb-5" id="projects">
    <div class="container pb-5">
        <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
            <h4 class="text-primary">Активни каузи, които правят разлика</h4>
            <h1 class="display-5 mb-4">Текущи проекти</h1>
            <p class="mb-0">Всеки проект е стъпка към по-добро бъдеще.
            </p>
        </div>
        <div class="row g-4">
            <div class="col-md-6 col-lg-6 col-xl-4 wow fadeInUp" data-wow-delay="0.2s">
                <div class="team-item">
                    <div class="team-img">
                        <img src="{% static 'img/project-1.png' %}" class="img-fluid" alt="">
                    </div>
                    <div class="team-title">
                        <h4 class="mb-0">Платформа за обмен на услуги</h4>
                        <p class="mb-0">Уеб приложение</p>
                    </div>
                    <div class="team-icon">
                        <a class="btn btn-primary btn-sm-square rounded-circle me-3" href="https://www.facebook.com/mysitebg1"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-primary btn-sm-square rounded-circle me-3" href="https://www.linkedin.com/company/mysite-bg"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-4 wow fadeInUp" data-wow-delay="0.4s">
                <div class="team-item">
                    <div class="team-img">
                        <img src="{% static 'img/project-2.png' %}" class="img-fluid" alt="">
                    </div>
                    <div class="team-title">
                        <h4 class="mb-0">Платформа за менторство и консултации:</h4>
                        <p class="mb-0">Уеб приложение</p>
                    </div>
                    <div class="team-icon">
                        <a class="btn btn-primary btn-sm-square rounded-circle me-3" href="https://www.facebook.com/mysitebg1"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-primary btn-sm-square rounded-circle me-3" href="https://www.linkedin.com/company/mysite-bg"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-4 wow fadeInUp" data-wow-delay="0.6s">
                <div class="team-item">
                    <div class="team-img">
                        <img src="{% static 'img/project-3.png' %}" class="img-fluid" alt="">
                    </div>
                    <div class="team-title">
                        <h4 class="mb-0">Помощ за животни в нужда</h4>
                        <p class="mb-0">Уеб сайт</p>
                    </div>
                    <div class="team-icon">
                        <a class="btn btn-primary btn-sm-square rounded-circle me-3" href="https://www.facebook.com/mysitebg1"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-primary btn-sm-square rounded-circle me-3" href="https://www.linkedin.com/company/mysite-bg"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Активни проекти End -->

{% endblock %}

